In [3]:
import sqlite3

In [4]:
!pwd

/content

In [5]:
import requests
from bs4 import BeautifulSoup
import sqlite3

# ウェブスクレイピング
url = 'https://www.data.jma.go.jp/obd/stats/etrn/view/daily_s1.php?prec_no=44&block_no=47662&year=2023&month=12&day=&view=p1'
response = requests.get(url)

if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')

# データベースに接続
con = sqlite3.connect('temperature_data.db')
cur = con.cursor()

# データを保存するためのテーブルを作成（適切なスキーマに調整）
sql_create_table_date = 'CREATE TABLE date(day_data, temperature_data);'

cur.execute(sql_create_table_date)

con.close()

In [12]:
# データベースに接続
conn = sqlite3.connect('local_temperature_data.db')
cursor = conn.cursor()

# データを保存するためのテーブルを作成（適切なスキーマに調整）
sql_create_table_local = 'CREATE TABLE local(day_data, taion_data);'

conn.close()